{% for env in ENV_LIST -%}
apiVersion: v1
kind: Secret
metadata:
  name: quay-image-pull-secret
  namespace: "{{ NAMESPACE_NAME }}-{{ env }}"
data:
  .dockerconfigjson: {{ QUAY_PULL_SECRET }}
type: kubernetes.io/dockerconfigjson
{% endfor %}